<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ if .image }}
        <img src="{{ .image}}" />
    {{ end }}
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
        {{ if .error }}
            <p>{{ .error}}</p>
        {{ end }}
    </form>
</body>
</html>